.account-list {
  background-color: white;
  display: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  height: 300px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  overflow: auto;
}

.account-list li {
  padding: 8px;
  cursor: pointer;
}

.account-list li:hover {
  background-color: #f0f0f0;
}

.sticky {
  position: sticky;
  top: 0;
  background-color: white;
  z-index: 1;
  /* Set z-index to a lower value */
}

.dropdown-menu {
  z-index: 2;
  /* Set z-index to a higher value */
  position: absolute;
  /* or position: relative; depending on your layout */
}
